/* Global Styles 
   =============
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-grey: #64748b;
  --primary-icon-color: #fff;
  --primary-nav-bg-color: #d7d7d7;
  --primary-translate: translate(-50%, -50%);
  --primary-transition: all 0.25s ease-in-out;
  --primary-outline: 1px solid rgba(0, 0, 0, 0.2);
  --primary-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  --primary-font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --developer-name-font-family: "Bungee", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --darkmode-nav-bg-color: #86868664;
  --darkmode-btn-color: #ffffff;
  --darkmode-toggle-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
  --modal-background-color: rgba(0, 0, 0, 0.925);
  --nav-link-color: #fff;
  --social-link-background: #000;
  --linkedin-icon-color: rgba(43, 100, 255, 1);
  --github-icon-color: rgb(118, 0, 214);
  --email-icon-color: rgba(0, 184, 138, 1);
  --form-outline: 1px solid rgba(0, 0, 0, 0.2);
  --form-shadow-inset: inset 5px 5px 2px rgba(0, 0, 0, 0.2);
}

/* DARK MODE SETTINGS */
.dark-mode {
  --clr-bcg: rgb(45, 45, 45);
  --clr-font: #fff;
  --clr-grey: #cbd5e1;
}

.darkmode-options {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}
.fa-moon {
  color: rgb(0, 132, 255);
}
.fa-sun,
.fa-moon {
  cursor: pointer;
  padding: 5px;
  font-size: 1.7rem;
}
.hide {
  display: none;
}
/* DARK MODE SETTINGS */

.nav-center {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
a.link {
  color: inherit;
}

.nav-center ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}
.nav-center ul li a {
  font-weight: bold;
  text-decoration: none;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
section.article {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
}
article.post {
  width: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.265);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
}
article .meta-tags {
  padding: 5px;
  font-weight: bold;
  text-decoration: underline;
}
.dark-btn {
  border-radius: 20px;
  box-shadow: 5px 5px 10px #00000055;
}
/* DARK MODE OPTIONS */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 1rem;
  transition: all 0.2s linear;
}
